
.Bienvenida {
    text-align: center;
    padding-top: .3125rem;
    h1{
        font-family: "Sonsie One";
        font-size: 3rem;
        color: map-get($colores, gris);
    }
    h2{
        font-family: "Fugaz One";
        color: map-get($colores, gris);
    }
    h5{
        font-family: "Fugaz One";
        color: map-get($colores, gris);
    }
}

.ContenedorCarrusel{
   padding: .625rem 10% .625rem 10%;
}

.PieDePagina{
    h2{
        text-align: center;
        color: map-get($colores, rosa);
        font-weight: bolder;
    }
    h3{
        text-align: center;
        color: map-get($colores, rosa);
        font-weight: bolder;
    }
}
