.TituloNosotros {
    text-align: center;
    padding-top: 5%;
    font-family:"Fugaz One";
    color: map-get($colores, gris);
    padding-bottom: 1.25rem;
}

.NosotrosContainer {
    display: flex;
    padding-top: .9375rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.25rem;

    h5 {
        color: map-get($colores, rosa);
        font-weight: bolder;
    }

    h3 {
        text-decoration: underline;
        font-style: italic;
    }

    article {
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }

    img {
        border-radius: 5%;
    }

    ul {
        padding-top: 3%;
        padding-left: 8%;
        padding-right: 5%;
    }
}

.SectionNC {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .NumerosContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: .9375rem;

        div {
            height: 18.75rem;
            width: 21.875rem;
            background-color: map-get($colores, claro);
            border-radius: 0.625rem;
            align-content: center;
            justify-items: center;
        }

        .NumeroGrande {
            font-size: 3rem;
            font-weight: bolder;
        }

        .PreTitulo {
            color: map-get($colores, rosa);
            font-weight: bolder;
            font-size: 1.5rem;
        }
    }
}
